.c-carousel-icons {

	img {
		width: auto;
    	max-width: 100%;
	}

	&__copy{
		p {
			font-weight: 600;
		}
	}
}

.icon-title-content-box {
	
	.icon-title {

		// Medium devices (tablets, less than 992px)
		@media (max-width: 767.98px) {
			
	    	padding-left: 20px;
		}
	}
}