.container-fluid {
  max-width: 1920px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1450px; } }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:focus {
  outline: none; }

html,
body {
  margin: 0px;
  font-family: neue-haas-grotesk-display, sans-serif;
  min-width: 320px;
  font-weight: 400;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth; }

.display-mobile,
.hidden-desktop,
.hidden-tablet {
  display: block; }

.display-tablet,
.display-desktop,
.hidden-mobile {
  display: none; }

@media (min-width: 768px) {
  .display-tablet,
  .hidden-desktop,
  .hidden-mobile {
    display: block; }
  .display-mobile,
  .display-desktop,
  .hidden-tablet {
    display: none; } }

@media (min-width: 1300px) {
  /*declarations for show/hide content*/
  .display-mobile,
  .display-tablet,
  .hidden-desktop {
    display: none; }
  .hidden-tablet,
  .display-desktop,
  .hidden-mobile {
    display: block; } }

/*html,
body {
    font-family:neue-haas-grotesk-display, sans-serif;
    font-weight:400; 
}*/
strong, b {
  font-weight: 700; }

h1, .h1 {
  font-size: 30px;
  line-height: 36px;
  color: #01243b;
  font-weight: 400; }
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 30px;
      line-height: 36px; } }
  @media (min-width: 1300px) {
    h1, .h1 {
      font-size: 60px;
      line-height: 68px; } }

h2, .h2 {
  font-size: 30px;
  line-height: 32px;
  color: #01243b; }
  @media (min-width: 768px) {
    h2, .h2 {
      font-size: 28px;
      line-height: 32px; } }
  @media (min-width: 1300px) {
    h2, .h2 {
      font-size: 50px;
      line-height: 60px; } }

h3, .h3 {
  font-size: 24px;
  line-height: 27px;
  color: #01243b;
  font-weight: 400;
  margin: 0px; }
  @media (min-width: 768px) {
    h3, .h3 {
      font-size: 20px;
      line-height: 28px; } }
  @media (min-width: 1300px) {
    h3, .h3 {
      font-size: 40px;
      line-height: 50px; } }

h4, .h4 {
  font-size: 20px;
  line-height: 24px;
  color: #01243b; }
  @media (min-width: 768px) {
    h4, .h4 {
      font-size: 16px;
      line-height: 18px; } }
  @media (min-width: 1300px) {
    h4, .h4 {
      font-size: 26px;
      line-height: 30px; } }

h5, .h5 {
  font-size: 20px;
  line-height: 22px;
  color: #9da7b2; }
  @media (min-width: 768px) {
    h5, .h5 {
      font-size: 16px;
      line-height: 18px; } }
  @media (min-width: 1300px) {
    h5, .h5 {
      font-size: 26px;
      line-height: 30px; } }

h6, .h6 {
  font-size: 24px;
  line-height: 27px;
  color: #01243b;
  font-weight: 700; }
  @media (min-width: 768px) {
    h6, .h6 {
      font-size: 20px;
      line-height: 28px; } }
  @media (min-width: 1300px) {
    h6, .h6 {
      font-size: 26px;
      line-height: 30px; } }

/* It's not very clear what their base p/body font size is so right now the base is the larger of the two, adding a "small-text" will be the other. */
p, .p, ul, ol, li {
  font-size: 16px;
  line-height: 20px;
  color: #21578a; }
  @media (min-width: 768px) {
    p, .p, ul, ol, li {
      font-size: 12px;
      line-height: 16px; } }
  @media (min-width: 1300px) {
    p, .p, ul, ol, li {
      font-size: 24px;
      line-height: 35px; } }
  p.small-text, .p.small-text, ul.small-text, ol.small-text, li.small-text {
    font-size: 12px;
    line-height: 16px; }
    @media (min-width: 1300px) {
      p.small-text, .p.small-text, ul.small-text, ol.small-text, li.small-text {
        font-size: 18px;
        line-height: 24px; } }

ul {
  color: #21578a;
  padding-left: 25px; }
  ul.ul-checklist {
    list-style: none;
    padding-left: 40px; }
    ul.ul-checklist li:before {
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      content: "\f00c";
      font-size: 125%;
      margin-left: -39px;
      padding-right: 10px;
      color: #3397d3; }

.font-incr-125 {
  font-size: 125%; }

.cool-grey {
  color: #9da7b2; }

.navy {
  color: #01243b; }

.tangerine {
  color: #ff970e; }

.white {
  color: #ffffff; }

.black {
  color: #000; }

.pale-grey {
  color: #f1f2f6; }

.dusk-blue {
  color: #21578a; }

.cool-blue {
  color: #3397d3; }

.bg-dusk-blue {
  background-color: #21578a; }

.bg-cool-blue {
  background-color: #3397d3; }

.bg-pale-grey {
  background-color: #f1f2f6; }

.bg-cool-grey {
  background-color: #9da7b2; }

.bg-cool-grey-transparent {
  background-color: rgba(157, 167, 178, 0.25); }

ul.list-colors {
  list-style: none; }
  ul.list-colors li::before {
    content: "\25A0";
    font-weight: bold;
    display: inline-block;
    width: 15px;
    margin-left: -23px; }
  ul.list-colors.list-cool-blue li::before {
    color: #3397d3; }
  ul.list-colors.list-dusk-blue li::before {
    color: #21578a; }

a {
  color: #21578a;
  text-decoration: none; }
  a:link {
    color: #21578a;
    text-decoration: none; }
  a:visited {
    text-decoration: none; }
  a.button {
    font-weight: 800;
    color: #fff;
    display: inline-block;
    text-align: center;
    min-width: 100px;
    line-height: 43px;
    font-size: 16px;
    padding: 0px 15px;
    padding: 0px 15px; }
    a.button:hover {
      background-color: #9da7b2; }
    @media (min-width: 320px) and (max-width: 400px) {
      a.button {
        width: 100%;
        margin-top: 10px; } }
    @media (min-width: 768px) {
      a.button {
        min-width: 105px;
        line-height: 34px;
        font-size: 12px; } }
    @media (min-width: 1300px) {
      a.button {
        min-width: 178px;
        line-height: 64px;
        font-size: 24px;
        padding: 0px 30px; } }
    a.button.button-large {
      min-width: 130px; }
      @media (min-width: 768px) {
        a.button.button-large {
          min-width: 190px; } }
      @media (min-width: 1300px) {
        a.button.button-large {
          min-width: 355px; } }
    a.button.button-blue {
      background-color: #21578a;
      color: #fff; }
      a.button.button-blue:hover {
        color: #fff;
        background-color: #14314c;
        text-decoration: none; }
    a.button.button-tangerine {
      background-color: #ff970e;
      color: #fff; }
      a.button.button-tangerine:hover {
        color: #fff;
        background-color: #de830b;
        text-decoration: none; }
    a.button.button-red {
      background-color: #8A2121; }

.button {
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  display: inline-block;
  border-style: none; }
  @media (min-width: 768px) {
    .button {
      font-size: 12px; } }
  @media (min-width: 1200px) {
    .button {
      font-size: 24px; } }
  .button.button-small {
    padding: 6px 27px; }
  @media (min-width: 768px) {
    .button.large-standard {
      width: 218px; } }
  @media (min-width: 1200px) {
    .button.large-standard {
      width: 411px; } }

.button-blue {
  background-color: #21578a;
  color: #fff; }
  .button-blue:hover {
    color: #fff;
    background-color: #14314c;
    text-decoration: none; }

.button-tangerine {
  background-color: #ff970e;
  color: #fff; }
  .button-tangerine:hover {
    color: #fff;
    background-color: #de830b;
    text-decoration: none; }

.button-red {
  background-color: #8A2121; }

img {
  width: 100%;
  height: auto; }

.img-width-auto {
  width: auto;
  max-width: 100%; }

.mt-6 {
  margin-top: 3rem !important; }
  @media (min-width: 768px) {
    .mt-6 {
      margin-top: 6rem !important; } }

.p-6 {
  padding: 3rem !important; }
  @media (min-width: 768px) {
    .p-6 {
      padding: 6rem !important; } }
  @media (min-width: 1200px) {
    .p-6 {
      padding: 6rem 8rem !important; } }

.py-6 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }
  @media (min-width: 768px) {
    .py-6 {
      padding-top: 6rem !important;
      padding-bottom: 6rem !important; } }
  @media (min-width: 1200px) {
    .py-6 {
      padding-top: 6rem !important;
      padding-bottom: 6rem !important; } }

.table {
  font-size: 16px;
  text-align: center; }
  @media (min-width: 1200px) {
    .table {
      font-size: 27px; } }
  .table thead {
    color: #ffffff; }
    .table thead th {
      background-color: #3397d3;
      font-weight: 400;
      border-bottom: 2px solid #ffffff;
      vertical-align: middle; }
      @media (min-width: 1200px) {
        .table thead th {
          font-size: 24px; } }
  .table tbody {
    color: #21578a; }
    .table tbody tr td {
      padding: .3rem .75rem; }
    .table tbody tr td:first-child {
      text-align: left; }
    .table tbody tr:nth-of-type(even) {
      background-color: #f1f2f6; }
  .table.table-bordered {
    border: 2px solid #ffffff; }
    .table.table-bordered td, .table.table-bordered th {
      border: 2px solid #ffffff; }

.global-pad {
  padding-right: 2.6%;
  padding-left: 2.6%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden; }

.global-pad-right-dock {
  padding: 0px 0px 0px 2.6%;
  margin: 0 auto;
  overflow: hidden; }

.global-pad-left-dock {
  padding: 0px 2.6% 0px 0px;
  margin: 0 auto;
  overflow: hidden; }

.global-pad-full-width {
  padding: 0px;
  overflow: hidden; }

.padded-section-container {
  padding-top: 40px;
  padding-bottom: 40px;
  clear: both; }

.section-container {
  clear: both; }

.shadow-box {
  box-shadow: 2px 2px 2px #ccc; }

.d-compact {
  max-width: 74.45%; }

a.offsite-button:after {
  content: "  \f35d";
  font-family: "Font Awesome 5 Pro"; }

a.offsite-link:after {
  content: "  \f35d";
  font-family: "Font Awesome 5 Pro";
  font-size: 70%; }

div.button-group {
  white-space: nowrap; }

.group-button:first-of-type {
  margin: 0px; }

.group-button {
  margin: 0px 0px 0px 87px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.no-top-margin {
  margin-top: 0px; }

.header-cta h1 {
  font-size: 60px;
  line-height: 68px;
  color: #01243B;
  font-weight: 400; }

.sectiontitle {
  color: #21578A;
  margin-bottom: 0px;
  font-size: 26px;
  line-height: 35px;
  font-weight: 800; }

/*top navigation*/
.forumlogo {
  position: absolute;
  width: 15%;
  max-width: 285px;
  top: 27px; }

.topnavigation-container {
  float: right;
  clear: both;
  margin-right: 60px; }

.uppernav {
  float: left; }

@media (max-width: 767px) {
  .uppernav {
    width: 100%;
    float: none;
    display: table; } }

a.topnav-button {
  min-width: 175px;
  background-color: #21578A;
  text-align: center;
  float: left;
  font-size: 18px;
  line-height: 48px;
  color: #F1F2F6;
  text-decoration: none;
  font-weight: 600;
  padding: 0px 30px; }

@media (max-width: 767px) {
  a.topnav-button {
    min-width: 0px;
    font-size: 12px;
    line-height: 27px;
    padding: 0px 6px;
    display: table-cell;
    font-weight: 800;
    float: none; } }

a.login-button {
  background-color: #FF970E;
  font-size: 18px;
  font-weight: 800;
  color: #fff; }

/*mainnav*/
nav {
  clear: both;
  display: table;
  padding-bottom: 20px;
  padding-top: 0px;
  width: 100%; }

.mainnavigation-container {
  padding-top: 1%;
  display: block; }

ul#menu {
  padding: 0px;
  margin: 0px;
  float: right; }

#menu li.menu-top-level {
  display: inline;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

a.topnav-link {
  color: #01243B;
  font-size: 26px;
  line-height: normal;
  text-decoration: none;
  padding: 0px 0px 12px 0px;
  margin: 0px 0px 0px 50px;
  font-weight: 400; }

ul.second-level-menu-container .second-level-item {
  color: #21578A;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px; }

ul.second-level-menu-container {
  padding: 0px;
  min-width: 25%;
  display: inline-table; }

ul.second-level-menu-container li {
  list-style-type: none; }

ul.menu-third-level {
  margin-top: 20px; }

ul.menu-third-level .third-level-menu-item a {
  color: #21578A;
  font-weight: 400;
  font-size: 26px;
  line-height: 50px; }

ul.menu-third-level .third-level-menu-item a:hover {
  border-bottom: solid 8px #21578A;
  font-weight: 600; }

ul.menu-third-level li {
  display: block;
  list-style-type: none; }

a.selected,
a.topnav-link:hover {
  border-bottom: solid 8px #21578A; }

/*mobilenav*/
a.topnav-link .fa-play {
  display: none; }

.nav-dropdown-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 288px;
  padding: 42px 75px;
  z-index: 99999;
  width: 100%;
  box-shadow: 2px 1px 2px #ccc;
  left: 0px;
  top: 110px;
  border-top: solid 1px #21578a;
  display: none; }

.nav-dropdown-container:hover {
  display: block; }

button.navbar-toggle {
  background-color: transparent;
  border: 0;
  padding: 0;
  right: 50px;
  position: absolute;
  z-index: 999;
  top: 10px;
  cursor: pointer; }

.globalheader {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  position: relative;
  background-position: 50% 50%;
  padding-top: 41.65%; }

.globalheadercontent {
  padding: 50px 2.6%;
  top: 0;
  position: absolute; }

.globalheadercontent:first-of-type {
  margin-right: 7%;
  margin-left: 7%; }

.header-cta {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px; }

.header-cta h1 {
  margin: 0px; }

.header-cta p {
  font-size: 26px;
  line-height: 30px;
  color: #21578A;
  font-weight: 400;
  margin-top: 5px; }

/*social*/
.social-container {
  border-top: solid 2px #C5C5C5;
  padding: 10px 2.6%;
  clear: both;
  /*margin-top:20px;*/
  display: table;
  width: 100%; }

.connect-container {
  float: right; }

.social-networks {
  float: left;
  margin-top: 13px;
  margin-left: 110px; }

span.up-to-date {
  font-size: 40px;
  line-height: 50px; }

.social-networks [class*="fa-"] {
  font-size: 34px;
  background-color: #c5c5c5;
  padding: 7px;
  color: #fff;
  margin: 2px; }

/*footer*/
footer {
  background-color: #F1F2F6;
  padding: 20px 2.6%;
  clear: both;
  display: table;
  width: 100%; }

.footernavigation-container {
  float: right;
  text-align: right; }

.copyright {
  float: right;
  margin-top: 35px; }

.copyright p {
  text-align: right;
  font-size: 16px;
  line-height: 20px;
  color: #01243B; }

a.footer-link {
  font-size: 26px;
  line-height: 50px;
  padding: 0px 0px 0px 34px;
  color: #21578a;
  text-decoration: none;
  white-space: nowrap; }

a.footer-link:first-of-type {
  padding: 0px; }

.newsletter {
  float: left;
  margin-top: 15px; }

.newsletter input[type="text"] {
  background-color: #fff;
  height: 53px;
  width: 373px;
  font-size: 18px;
  line-height: 20px;
  padding: 13px;
  border: solid 1px #9DA7B2;
  font-family: neue-haas-grotesk-display, sans-serif;
  color: #21578A;
  margin: 0px;
  float: left; }

.newsletter input[type="submit"] {
  background-color: #FF970E;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border: solid 1px #ff970e;
  width: 154px;
  line-height: 53px;
  height: 53px;
  float: left; }

#ncualogo {
  width: 198px; }

/*global search display values */
.siteSearch {
  float: left;
  width: 275px;
  height: 48px;
  position: relative; }

.siteSearch:hover .searchBox input[type=text],
.siteSearch .searchBox input[type=text]:focus {
  width: 250px;
  margin-left: 0px;
  outline: none; }

@media (min-width: 768px) and (max-width: 1300px) {
  .siteSearch:hover .searchBox input[type=text],
  .siteSearch .searchBox input[type=text]:focus {
    width: 137px;
    margin-left: 0px;
    outline: none; } }

.siteSearch .searchBox input[type=text] {
  width: 0px;
  height: 48px;
  border: 1px solid #ddd;
  float: right;
  outline: none;
  -moz-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  margin-left: 200px; }

@media (min-width: 768px) and (max-width: 1300px) {
  .siteSearch .searchBox input[type=text] {
    width: 137px;
    height: 26px;
    display: block;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
    margin-left: 0px; } }

.siteSearch a {
  background-color: #FF970E;
  border: solid 1px #FF970E;
  color: #fff;
  cursor: pointer;
  padding: 0px 12px;
  font-size: 26px;
  line-height: 46px;
  float: right;
  position: absolute;
  right: 0; }

@media (min-width: 768px) and (max-width: 1300px) {
  .siteSearch a {
    padding: 0px 7px;
    font-size: 11px;
    line-height: 25px; } }

.siteSearch .btn-default {
  display: none; }

/*in page search display*/
.inpage-Search .searchBox {
  border: solid 1px #ddd;
  padding: 3px;
  width: 100%;
  float: none;
  margin: auto; }

.inpage-Search a,
.inpage-Search a:visited {
  display: block;
  background-color: #FF970E;
  border: solid 1px #FF970E;
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 37px;
  line-height: 37px; }

.inpage-Search .btn-default {
  display: none; }

.inpage-Search input[type="text"] {
  float: right;
  width: calc(100% - 50px);
  border: none;
  font-family: neue-haas-grotesk-display, sans-serif;
  color: #21578A;
  line-height: 37px; }

.blogSearch .inpage-Search .searchBox {
  max-width: 100%; }

.mobileSearch {
  display: none; }

/*searchResults*/
.searchResults {
  margin: 50px auto; }

.searchResults .result-heading {
  border-bottom: solid 1px #707070;
  padding-bottom: 5px;
  margin-bottom: 20px;
  display: table; }

.searchResults .result-heading .result-headline {
  color: #21578a;
  font-size: 50px;
  line-height: 60px;
  margin-right: 10px; }

.searchResults .result-heading .result-url,
.searchResults .result-content {
  color: #21578a;
  font-size: 24px;
  line-height: 35px; }

.fcuformfield select,
.blogFilter select {
  border: solid 1px #ddd;
  width: 100%;
  line-height: 45px;
  height: 46px;
  padding: 0px 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: neue-haas-grotesk-display, sans-serif;
  line-height: 37px;
  color: #21578A; }

.blogFilter {
  position: relative; }

.fcuselect {
  position: relative; }

.fcuselect:after,
.blogFilter:after {
  font-family: FontAwesome;
  content: '\f0d7';
  font-size: 22px;
  position: absolute;
  top: 4px;
  right: 4px;
  color: #fff;
  pointer-events: none;
  background-color: #FF970E;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px; }

select.fcuselect option,
.blogFilter option {
  font-family: neue-haas-grotesk-display, sans-serif;
  line-height: 37px;
  color: #21578A;
  padding: 20px 0px; }

/*floats*/
.float-group {
  display: flex;
  clear: both; }

.third {
  width: 31%;
  margin-right: 3.5%;
  float: left; }

.third:last-of-type {
  margin-right: 0px; }

.left-two-third {
  width: 65%;
  flex-grow: 2;
  max-width: none; }

.right-two-third {
  width: 65%;
  margin-right: 5%;
  flex-grow: 2;
  max-width: none; }

.half {
  width: 46.5%;
  margin-right: 7%;
  float: left;
  flex: 1; }

.half:last-of-type,
.half:nth-child(2n+2) {
  margin-right: 0px; }

.m-rtl-third,
.m-rtl-half {
  float: right;
  margin-right: 0; }

.fcucarousel {
  width: 80% !important;
  margin: auto; }

@media (min-width: 768px) and (max-width: 1300px) {
  .fcucarousel {
    width: 100% !important; } }

.fcucarousel-shortcut {
  text-align: center;
  padding-top: 15px; }

.fcucarousel-shortcut__image {
  border: solid 1px #ccc; }

.fcucarousel-shortcut__image:hover {
  margin-top: -5px;
  box-shadow: 2px 2px 2px #ccc; }

.fcucarousel .owl-nav button span {
  font-size: 50px;
  color: #ddd;
  opacity: .80; }

.fcucarousel-bannerimagecarousel {
  width: 100%;
  max-width: 100%; }

@media (max-width: 767px) {
  .fcucarousel-bannerimagecarousel {
    display: none !important; } }

.fcucarousel-singleimage .fcucarousel-singleimage__background {
  width: 100%;
  height: 440px;
  background-repeat: no-repeat;
  background-size: cover; }

@media (min-width: 768px) and (max-width: 1300px) {
  .fcucarousel-singleimage .fcucarousel-singleimage__background {
    height: 176px; } }

.fcucarousel-singleimage .fcucarousel-singleimage__contentcontainer {
  padding-top: 246px;
  padding-left: 140px;
  padding-right: 140px; }

@media (min-width: 768px) and (max-width: 1300px) {
  .fcucarousel-singleimage .fcucarousel-singleimage__contentcontainer {
    padding-top: 66px;
    padding-left: 32px;
    padding-right: 32px; } }

.fcucarousel-singleimage .fcucarousel-singleimage__contentRight {
  display: block;
  float: right; }

.fcucarousel-singleimage__content p,
.fcucarousel-singleimage__content h2 {
  margin: 0px; }

.fcucarousel-bannerimagecarousel .owl-dots {
  position: absolute;
  left: 246px;
  top: 341px; }

.fcucarousel .owl-next {
  right: -100px; }

@media (max-width: 1023px) {
  .fcucarousel .owl-next {
    display: none !important; } }

.fcucarousel .owl-prev {
  left: -100px; }

@media (max-width: 1023px) {
  .fcucarousel .owl-prev {
    display: none !important; } }

/*owl style overrides*/
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #FF970E !important; }

.owl-theme .owl-dots .owl-dot span {
  background: #3397D3 !important; }

.owl-theme {
  margin: 0px auto; }

.owl-theme .owl-nav [class*=owl-] {
  position: absolute;
  top: 40%;
  margin: 0px; }

.owl-nav .disabled {
  display: none !important; }

/*Pager styles*/
.PagerControl,
.FCUPagerControl {
  clear: both;
  margin: 40px auto;
  width: 100%; }

.PagerControl .PagerResults,
.FCUPagerControl .PagerResults {
  font-size: 16px;
  font-weight: 400 !important;
  color: #21578A; }

.PagerControl .PagerNumberArea,
.FCUPagerControl .PagerNumberArea {
  float: right;
  margin-top: -15px; }

.bottomPager .FCUPagerControl .PagerNumberArea {
  margin-top: auto;
  text-align: center;
  float: none; }

.PagerControl .SelectedPage,
.PagerControl .UnselectedPage,
.FCUPagerControl .SelectedPage,
.FCUPagerControl .UnselectedPage {
  font-size: 16px;
  line-height: normal;
  color: #21578A;
  font-weight: 800;
  border-bottom: solid #FF970E 5px;
  margin: 0 3px; }

.PagerControl .UnselectedPage,
.FCUPagerControl .UnselectedPage {
  border-bottom: none;
  font-weight: 400; }

.PagerControl .UnselectedNext,
.PagerControl .SelectedNext,
.PagerControl .UnselectedPrev,
.PagerControl .SelectedPrev,
.FCUPagerControl .UnselectedPrev,
.FCUPagerControl .UnselectedNext {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: solid 1px #21578A;
  font-size: 15px;
  color: #21578A;
  padding: 3px 8px 1px 7px; }

.cta-with-icon {
  margin-top: 111px; }

.cta-with-icon .cti-icon-container {
  height: 109px;
  background-color: #f1f2f6;
  margin-bottom: 10px;
  width: 100%;
  max-width: 450px; }

.cta-with-icon .cti-cta-container {
  height: 217px;
  border: solid 1px #f1f2f6;
  text-align: center;
  padding: 25px 48px;
  width: 100%;
  max-width: 450px;
  display: table; }

.cta-with-icon .cti-cta-container .cti-cta-content {
  display: table-cell;
  vertical-align: middle; }

.cta-with-icon-icon {
  background-color: #3397d3;
  position: relative;
  text-align: center; }

.cta-with-icon-icon .text,
.cta-with-icon-icon [class*="fa-"] {
  position: absolute;
  top: -110px;
  left: calc(50% - 98px);
  border: solid 5px #fff; }

.cta-with-icon-icon .text,
.cta-with-icon-icon [class*="fa-"],
.icon-title [class*="fa-"],
p.icon-link [class*="fa-"],
a.icon-link [class*="fa-"] {
  color: #fff;
  background: #3397D3;
  width: 196px;
  height: 196px;
  font-size: 90px;
  border-radius: 100px;
  border: solid 5px #fff;
  margin-bottom: 27px;
  line-height: 186px;
  text-align: center; }

.icon-title [class*="fa-"] {
  position: absolute;
  left: -98px;
  top: -8px; }

.cta-with-icon-icon .text {
  font-size: 40px;
  font-weight: 800; }

.cta-with-icon .cti-cta-container-grey h3,
.cta-with-icon .cti-cta-container h3 {
  color: #9DA7B2;
  font-size: 40px;
  line-height: 50px;
  margin: 0px; }

.cta-with-icon .cti-cta-container-grey {
  background-color: #f1f2f6;
  height: 217px;
  border: solid 1px #f1f2f6;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 25px 48px;
  max-width: 450px; }

.cta-with-icon .cti-cta-container-grey h3 {
  color: #01243B; }

.cta-with-icon .cti-cta-container-grey p {
  color: #21578A;
  font-size: 24px;
  line-height: 35px;
  margin: 0px;
  font-weight: 600; }

.icon-link-container {
  display: flex; }

p.icon-link {
  flex: 1;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  margin: 0px; }

.icon-link a {
  color: #21578A; }

.icon-title {
  border: solid 1px #707070;
  height: 181px;
  text-align: center;
  position: relative;
  margin-left: 98px;
  display: table;
  width: calc(100% - 98px);
  padding-left: 130px;
  padding-right: 65px; }

.icon-title__content {
  padding: 10px 0px 10px 30px; }

.icon-title__title {
  display: table-cell;
  vertical-align: middle; }

.icon-title-grey {
  border: solid 1px #F1F2F6;
  background-color: #F1F2F6; }

.icon-title-grey h3 {
  color: #21578A; }

.blogLanding {
  display: block; }

.blogLandingPost .blogLandingPostImage {
  height: 241px;
  object-fit: cover;
  margin-bottom: 0px; }

.blogLandingPost .blogLandingPostContent {
  border: solid 1px #f1f2f6;
  border-top: 0px;
  padding: 0px 10px;
  margin-top: -3px; }

.blogLandingPost .blogLandingPostTitle {
  color: #01243b;
  font-size: 40px;
  line-height: 50px;
  margin: 10px 0px 0px 0px; }

.blogLandingPost a.blogLandingPostLink,
.blogLandingPost a.blogLandingPostLink:visited,
.blogLandingPost a.blogLandingPostLink:hover {
  color: #21578a;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  text-decoration: none; }

.blogLandingPost .blogLandingPostSummary,
.blogLandingPost .blogLandingPostSummary p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #21578a; }

/*SocialSharing Icon Links*/
.socialshare [class*="fa-"] {
  font-size: 30px;
  color: #21578A; }

@media (max-width: 1300px) {
  .socialshare [class*="fa-"] {
    font-size: 15px; } }

.socialshare-blogdetail {
  float: left;
  margin: 30px 68px 0px 0px; }

@media (max-width: 1300px) {
  .socialshare-blogdetail {
    margin: 105px 34px 0px 0px; } }

.socialshare-eventdetail {
  margin-top: 30px; }

.socialshare-eventdetail a {
  padding-right: 20px; }

.blogPostDetailBody {
  display: table;
  max-width: 812px; }

.blogPostDetailBody h1 {
  margin: 0px 0px 10px 0px; }

h3.blogPostDate {
  font-size: 24px;
  line-height: 35px;
  margin: 0px; }

.BlogPBody {
  margin-top: 45px; }

.BlogPBody p:first-of-type {
  margin-top: 0px; }

.RelatedBlogPost {
  display: table; }

.RelatedBlogPost h2 {
  color: #21578A;
  margin-bottom: 10px;
  margin-top: 100px; }

.RelatedBlogPost ul {
  padding: 0px; }

.RelatedBlogPost li {
  border-bottom: solid 2px #C5C5C5;
  list-style: none;
  padding: 10px 20px; }

a.blogPostRelatedTitle {
  font-size: 24px;
  line-height: 27px;
  color: #01234b;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle; }

.blogPostRelatedNumber {
  font-size: 40px;
  line-height: 60px;
  color: #21578A;
  font-weight: 400;
  margin-right: 45px;
  display: table-cell;
  padding-right: 45px; }

.blogShortcut {
  max-width: 447px;
  text-align: center;
  margin: 30px auto; }

.blogShortcut .blogShortcutHeadline {
  font-size: 50px;
  line-height: 60px;
  color: #21578a; }

.blogShortcut .blogShortcutDesc {
  font-size: 25px;
  line-height: 35px;
  color: #01234b; }

.fcuaccordion__title {
  border-bottom: solid 1px #c5c5c5;
  padding-bottom: 30px;
  padding-top: 30px; }

@media (max-width: 767px) {
  .fcuaccordion__title {
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0px; } }

.fcuaccordion__title .iconOpened,
.fcuaccordion__title .iconClosed {
  padding-right: 33px;
  font-size: 35px;
  color: #9DA7B2;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle; }

@media (min-width: 768px) and (max-width: 1300px) {
  .fcuaccordion__title .iconOpened,
  .fcuaccordion__title .iconClosed {
    padding-right: 45px;
    line-height: 24px;
    font-size: 16px; } }

@media (max-width: 767px) {
  .fcuaccordion__title .iconOpened,
  .fcuaccordion__title .iconClosed {
    padding-right: 10px;
    line-height: 24px;
    font-size: 16px; } }

.fcuaccordion__title h3 {
  display: table-cell;
  color: #21578A; }

@media (max-width: 1300px) {
  .fcuaccordion__title h3 {
    font-size: 16px;
    line-height: 24px; } }

.drawerHeader {
  border-bottom: solid 1px #c5c5c5;
  padding-bottom: 30px;
  padding-top: 30px;
  margin: 0px 5%;
  max-width: 1715px; }

.drawerHeader [class*="fa-"] {
  padding-right: 33px;
  font-size: 35px;
  color: #9DA7B2;
  cursor: pointer; }

.drawerHeader h3 {
  display: inline;
  color: #21578A;
  cursor: pointer; }

.drawerContent {
  padding-left: 166px;
  padding-right: 40px;
  max-width: 1715px;
  margin: 0px 5%;
  display: table; }

.drawerContent,
.drawerContent p {
  font-size: 24px;
  line-height: 35px;
  color: #01243B; }

.contact-live-chat-block,
.contact-infoblock {
  border: solid 1px #707070;
  padding: 31px 31px 55px 31px;
  margin-top: 21px;
  min-height: 997px; }

.contact-live-chat-block {
  background-image: url("/fcumedia/libraries/FCU/images/contact-chat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  position: relative; }

.contact-live-chat-block div {
  position: absolute;
  bottom: 55px; }

.contact-live-chat-block h3 {
  color: #fff; }

.contact-live-chat-block p {
  color: #fff;
  margin-top: 0px; }

.contact-info-container .third:first-of-type {
  padding-left: 12%; }

.contact-info-container .third:first-of-type,
.contact-info-container .third:last-of-type {
  padding-top: 40px; }

div[aria-expanded=true] .iconClosed,
a[aria-expanded=true] .iconClosed {
  display: none; }

div[aria-expanded=false] .iconOpened,
a[aria-expanded=false] .iconOpened {
  display: none; }

@media (min-width: 1100px) and (max-width: 1550px) {
  span .up-to-date {
    font-size: 20px;
    line-height: 22px; }
  .newsletter input[type="text"] {
    height: 31px;
    width: 150px;
    font-size: 12px;
    line-height: 31px; }
  .newsletter input[type="submit"] {
    font-size: 12px;
    height: 31px;
    width: 83px;
    line-height: 31px; }
  .social-networks {
    margin-left: 21px; }
  .social-networks .fab {
    font-size: 21px; }
  a.footer-link {
    font-size: 12px;
    line-height: 15px;
    padding: 0px 0px 0px 10px; }
  #ncualogo {
    width: 80px; }
  .group-button {
    margin: 0px 0px 0px 40px; } }

@media (min-width: 768px) and (max-width: 1300px) {
  .header-cta h1 {
    font-size: 30px;
    line-height: 36px; }
  h4.sectiontitle,
  h4.sectiontitle-bold {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400; }
  nav {
    padding-bottom: 10px;
    padding-top: 0px;
    height: 58px; }
  .fa-bars {
    color: #21578A;
    display: block;
    font-size: 30px;
    margin-top: 9px; }
  .fa-times {
    font-size: 30px; }
  .mainnavigation-container {
    display: none;
    float: none;
    width: 100%;
    position: absolute;
    top: 85px;
    left: 0;
    z-index: 999999;
    padding-top: 0px; }
  ul#menu {
    width: 100%;
    position: absolute;
    float: none;
    padding: 0px;
    padding: 0px; }
  ul#menu li.menu-top-level {
    background-clip: padding-box;
    display: block;
    padding: 0px;
    border-bottom: solid 10px rgba(255, 255, 255, 0.95);
    position: relative;
    background-color: #fff; }
  .menu-third-level {
    padding-left: 0px; }
  .nav-dropdown-container {
    position: relative;
    top: 0px;
    padding: 18px 34px; }
  ul.second-level-menu-container {
    margin-bottom: 30px;
    min-width: 50%;
    max-width: 300px; }
  ul.menu-third-level .third-level-menu-item a,
  ul.second-level-menu-container .second-level-item {
    font-size: 20px;
    line-height: 32px; }
  .group-button:first-of-type {
    margin: 0px; }
  .group-button {
    margin: 0px 0px 0px 34px; }
  .d-compact {
    max-width: 100%; }
  .t-compact {
    max-width: 83.5%; }
  .topnavigation-container {
    clear: both;
    margin-right: 75px; }
  a.topnav-button {
    min-width: 82px;
    font-size: 12px;
    line-height: 27px;
    color: #F1F2F6; }
  a.topnav-link,
  a.topnav-link:visited,
  a.topnav-link.selected {
    font-size: 20px;
    color: #004785;
    margin: 0px;
    padding: 8px 0px 10px 41px;
    display: table;
    width: 100%;
    border-bottom: 0px; }
  a.topnav-link .fa-play,
  a.topnav-link.selected .fa-play {
    float: right;
    color: #DF6037;
    font-size: 11px;
    margin-top: 8px;
    margin-right: 21px;
    display: block; }
  a.topnav-link:hover .fa-play {
    transform: rotate(90deg); }
  a.topnav-link.selected .fa-play {
    transform: rotate(90deg);
    border-bottom: 0px; }
  a.topnav-link:hover {
    border-bottom: none; }
  a.login-button {
    font-size: 12px;
    font-weight: 600; }
  /*top navigation*/
  .forumlogo {
    width: 154px;
    top: 17px; }
  .fa-search {
    padding: 5px 0px; }
  .mobileSearch {
    display: none; }
  .header-cta {
    max-width: 375px;
    min-width: 200px;
    padding: 30px; }
  .header-cta p {
    font-size: 16px;
    line-height: 18px; }
  .copyright p {
    font-size: 12px;
    line-height: 15px; }
  .PagerControl,
  .FCUPagerControl,
  .inpage-Search .searchBox,
  .searchResults {
    max-width: 83.5%; }
  .searchResults .result-heading {
    border-bottom: solid 1px #c5c5c5;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .searchResults .result-heading .result-headline {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600; }
  .searchResults .result-heading .result-url,
  .searchResults .result-content {
    font-size: 16px;
    line-height: 18px; }
  .blogLandingPost .blogLandingPostImage {
    height: 133px; }
  .blogLandingPost .blogLandingPostTitle {
    color: #01243b;
    font-size: 20px;
    line-height: 22px; }
  .blogLandingPost a.blogLandingPostLink,
  .blogLandingPost a.blogLandingPostLink:visited,
  .blogLandingPost a.blogLandingPostLink:hover {
    color: #21578a;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none; }
  .blogLandingPost .blogLandingPostSummary,
  .blogLandingPost .blogLandingPostSummary p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #21578a; }
  h3.blogPostDate {
    font-size: 16px;
    line-height: 18px; }
  .BlogPBody {
    margin-top: 15px; }
  .RelatedBlogPost h2 {
    margin-bottom: 10px;
    margin-top: 20px; }
  a.blogPostRelatedTitle {
    font-size: 16px;
    line-height: 24px; }
  .blogPostRelatedNumber {
    font-size: 20px;
    line-height: 22px;
    padding-right: 15px; }
  .blogShortcut {
    max-width: 173px; }
  .blogShortcut .blogShortcutHeadline {
    font-size: 20px;
    line-height: 22px; }
  .blogShortcut .blogShortcutDesc {
    font-size: 16px;
    line-height: 18px; }
  /*newsfeed*/
  .newsfeed-item {
    width: 200px; }
  .newsfeed-item:first-of-type {
    margin-left: -50px; }
  .newsfeed-title {
    font-size: 16px;
    line-height: normal;
    padding-top: 10px;
    padding-left: 15px;
    width: 125px; }
  .newsfeed-date {
    background: transparent linear-gradient(180deg, #FF970E 0%, #9D5A02 100%) 0% 0% no-repeat padding-box;
    border: 3px solid #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    padding-top: 15px; }
  span.up-to-date {
    font-size: 20px;
    line-height: 22px; }
  .newsletter input[type="text"] {
    height: 31px;
    width: 150px;
    font-size: 12px;
    line-height: 31px;
    padding: 13px; }
  .newsletter input[type="submit"] {
    font-size: 12px;
    height: 31px;
    width: 83px;
    line-height: 31px; }
  .social-networks {
    margin-left: 21px; }
  .social-networks [class*="fa-"] {
    font-size: 21px; }
  a.footer-link {
    font-size: 12px;
    line-height: 15px;
    padding: 0px 0px 0px 10px; }
  #ncualogo {
    width: 80px; }
  .cta-with-icon .cti-icon-container {
    height: 56px; }
  .cta-with-icon .cti-cta-container {
    height: 97px;
    padding: 21px 37px; }
  .cta-with-icon .cti-cta-container-grey h3,
  .cta-with-icon .cti-cta-container h3 {
    font-size: 20px;
    color: #01243B; }
  .cta-with-icon .cti-cta-container-grey p {
    color: #21578A;
    font-size: 12px;
    line-height: 16px;
    margin: 0px; }
  p.icon-link {
    font-size: 16px;
    line-height: 24px; }
  .cta-with-icon-icon .text,
  .cta-with-icon-icon [class*="fa-"],
  .icon-title [class*="fa-"],
  p.icon-link [class*="fa-"],
  a.icon-link [class*="fa-"] {
    width: 88px;
    height: 88px;
    font-size: 45px;
    margin-bottom: 19px;
    line-height: 78px; }
  .cta-with-icon-icon .text,
  .cta-with-icon-icon [class*="fa-"] {
    position: absolute;
    top: -44px;
    left: calc(50% - 44px);
    border: solid 5px #fff; }
  .icon-title [class*="fa-"] {
    position: absolute;
    left: -52px;
    top: -6px; }
  .cta-with-icon-icon .text {
    font-size: 20px;
    font-weight: 400; }
  .icon-title {
    border: solid 1px #707070;
    height: 80px;
    text-align: center;
    margin-left: 44px;
    width: calc(100% - 44px);
    padding-left: 64px;
    padding-right: 44px; }
  .drawerHeader {
    padding-bottom: 10px;
    padding-top: 10px; }
  .drawerHeader [class*="fa-"] {
    padding-right: 45px;
    line-height: 24px;
    font-size: 16px;
    color: #9DA7B2;
    cursor: pointer; }
  .drawerHeader h3 {
    font-size: 16px;
    line-height: 24px; }
  .drawerContent p {
    font-size: 16px;
    line-height: 24px; }
  .contact-info-container .third:first-of-type {
    padding-left: 12%; }
  .contact-info-container .third:first-of-type,
  .contact-info-container .third:last-of-type {
    padding-top: 20px; }
  .single-image-carousel .owl-dots {
    position: absolute;
    left: 66px;
    top: 110px; } }

@media (max-width: 767px) {
  .header-cta h1 {
    font-size: 32px;
    line-height: 36px; }
  h4.sectiontitle,
  h4.sectiontitle-bold {
    font-size: 28px;
    line-height: 32px;
    font-weight: 400; }
  .global-pad {
    padding-right: 5%;
    padding-left: 5%; }
  .global-pad-right-dock {
    padding: 0px 0px 0px 5%;
    margin: 0 auto; }
  .global-pad-left-dock {
    padding: 0px 5% 0px 0px;
    margin: 0 auto; }
  .m-noglobalpad {
    padding-right: 0px;
    padding-left: 0px; }
  .d-compact,
  .t-compact {
    max-width: 100%; }
  .padded-section-container {
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both; }
  button.navbar-toggle {
    right: 8.75%;
    top: 58px;
    outline: none; }
  nav {
    height: 105px; }
  .fa-bars {
    color: #21578A;
    display: block;
    font-size: 30px;
    margin-top: 9px; }
  .fa-times {
    font-size: 30px; }
  .mainnavigation-container {
    display: none;
    float: none;
    width: 100%;
    position: absolute;
    top: 131px;
    left: 0;
    z-index: 999999;
    padding-top: 0px; }
  .topnavigation-container {
    float: none;
    margin-right: auto;
    width: 100%; }
  ul#menu {
    width: 100%;
    position: absolute;
    float: none;
    padding: 0px; }
  ul#menu li.menu-top-level {
    background-clip: padding-box;
    display: block;
    padding: 0px;
    border-bottom: solid 10px rgba(255, 255, 255, 0.95);
    position: relative;
    background-color: #fff; }
  .menu-third-level {
    padding-left: 0px; }
  .nav-dropdown-container {
    position: relative;
    top: 0px;
    padding: 18px 34px; }
  ul.second-level-menu-container {
    margin-bottom: 30px;
    min-width: 50%;
    max-width: 300px; }
  ul.menu-third-level .third-level-menu-item a,
  ul.second-level-menu-container .second-level-item {
    font-size: 20px;
    line-height: 32px; }
  .group-button:first-of-type {
    margin: 0px; }
  .group-button {
    margin: 0px 0px 0px 20px; }
  .forumlogo {
    width: 230px;
    top: 60px; }
  .siteSearch,
  .siteSearch .searchBox,
  .mobileSearch .btn-default {
    display: none; }
  .inpage-Search .searchBox {
    margin-top: 40px;
    max-width: 100%; }
  .mobileSearch {
    display: table;
    width: 100%; }
  .mobileSearch input[type="text"] {
    height: 55px;
    width: calc(100% - 53px);
    border: 1px solid #c5c5c5;
    font-size: 20px;
    font-family: neue-haas-grotesk-display, sans-serif;
    color: #21578A;
    float: left;
    padding: 10px; }
  .mobileSearch a,
  .mobileSearch a:visited {
    background-color: #FF970E;
    border: solid 1px #FF970E;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 21px;
    text-align: center;
    float: left; }
  .mobileSearch .fa-search {
    padding: 11px 0px; }
  /*searchResults*/
  .searchResults {
    margin-top: 23px;
    margin-bottom: 23px;
    max-width: 100%; }
  .searchResults .result-heading {
    border-bottom: solid 1px #c5c5c5;
    padding-bottom: 5px;
    margin-bottom: 10px; }
  .searchResults .result-heading .result-headline {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600; }
  .searchResults .result-heading .result-url,
  .searchResults .result-content {
    font-size: 16px;
    line-height: 24px; }
  .single-image-carousel {
    display: none !important; }
  .PagerControl .PagerNumberArea,
  .FCUPagerControl .PagerNumberArea {
    float: none;
    text-align: center;
    margin-top: -50px; }
  a.topnav-link,
  a.topnav-link:visited,
  a.topnav-link.selected {
    font-size: 20px;
    color: #004785;
    margin: 0px;
    padding: 8px 0px 10px 41px;
    display: table;
    width: 100%;
    border-bottom: 0px; }
  a.topnav-link .fa-play,
  a.topnav-link.selected .fa-play {
    float: right;
    color: #DF6037;
    font-size: 11px;
    margin-top: 8px;
    margin-right: 21px;
    display: block; }
  a.topnav-link:hover .fa-play {
    transform: rotate(90deg); }
  a.topnav-link.selected .fa-play {
    transform: rotate(90deg);
    border-bottom: 0px; }
  a.topnav-link:hover {
    border-bottom: none; }
  footer {
    padding: 10px 5%; }
  .footernavigation-container {
    float: none;
    text-align: center; }
  a.footer-link {
    font-size: 16px;
    line-height: 50px;
    padding: 0px 0px 0px 20px; }
  #ncualogo {
    margin-top: 55px;
    width: 155px; }
  .copyright p {
    font-size: 14px;
    line-height: 16px; }
  .float-group {
    display: block; }
  .third,
  .half,
  .left-two-third,
  .right-two-third {
    max-width: 100%;
    /* width:455px;*/
    width: 100%;
    float: none;
    margin-right: auto;
    margin-top: 40px; }
  .third:first-of-type,
  .half:first-of-type {
    margin-top: 0px; }
  .m-half {
    width: 46.5%;
    margin-right: 7%;
    float: left;
    flex: 1; }
  .m-half:first-of-type {
    margin-top: 40px; }
  .m-rtl-third,
  .m-rtl-half {
    float: none;
    clear: both; }
  .newsfeed-item:first-of-type {
    margin-left: auto; }
  .globalheader {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-height: 300px;
    position: relative; }
  .globalheadercontent {
    position: relative;
    right: 0;
    left: 0;
    padding: 25px 5.2%; }
  .connect-container {
    float: none; }
  .social-container {
    padding: 10px 5%; }
  .social-networks {
    float: none;
    clear: both;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 27px; }
  .social-networks [class*="fa-"] {
    font-size: 46px; }
  .newsletter {
    float: none;
    clear: both;
    margin-right: 0px; }
  .newsletter input[type="text"] {
    height: 37px;
    width: 216px;
    font-size: 12px;
    line-height: 37px; }
  .newsletter input[type="submit"] {
    font-size: 16px;
    height: 37px;
    width: 154px;
    line-height: 37px; }
  .header-cta {
    width: 100%;
    padding: 0px; }
  .header-cta p {
    font-size: 20px;
    line-height: 22px; }
  span.up-to-date {
    font-size: 30px;
    line-height: 33px; }
  .blogLanding {
    display: block; }
  .blogLandingPost .blogLandingPostImage {
    height: 133px; }
  .blogLandingPost .blogLandingPostTitle {
    color: #21578a;
    font-size: 24px;
    line-height: 27px; }
  .blogLandingPost a.blogLandingPostLink,
  .blogLandingPost a.blogLandingPostLink:visited,
  .blogLandingPost a.blogLandingPostLink:hover {
    color: #21578a;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none; }
  .blogLandingPost .blogLandingPostSummary,
  .blogLandingPost .blogLandingPostSummary p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #21578a; }
  h3.blogPostDate {
    font-size: 20px;
    line-height: 26px; }
  .BlogPBody {
    margin-top: 15px; }
  .RelatedBlogPost h2 {
    margin-bottom: 10px;
    margin-top: 20px; }
  a.blogPostRelatedTitle {
    font-size: 16px;
    line-height: 24px; }
  .blogPostRelatedNumber {
    font-size: 20px;
    line-height: 22px;
    padding-right: 15px; }
  .blogShortcut {
    max-width: 173px; }
  .blogShortcut .blogShortcutHeadline {
    font-size: 24px;
    line-height: 27px; }
  .blogShortcut .blogShortcutDesc {
    font-size: 16px;
    line-height: 24px; }
  /*newsfeed*/
  .newsfeed-item {
    width: 200px; }
  .newsfeed-item:first-of-type {
    margin-left: -50px; }
  .newsfeed-title {
    font-size: 16px;
    line-height: normal;
    padding-top: 10px;
    padding-left: 15px;
    width: 125px; }
  .newsfeed-date {
    background: transparent linear-gradient(180deg, #FF970E 0%, #9D5A02 100%) 0% 0% no-repeat padding-box;
    border: 3px solid #FFFFFF;
    font-size: 12px;
    line-height: 15px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    padding-top: 15px; }
  p.icon-link {
    font-size: 16px;
    line-height: 18px; }
  .cta-with-icon .cti-icon-container {
    height: 68px;
    width: 100%;
    max-width: none;
    text-align: center; }
  .cta-with-icon-icon .text,
  .cta-with-icon-icon [class*="fa-"] {
    left: calc(50% - 54px);
    top: -54px; }
  .cta-with-icon .cti-cta-container-grey,
  .cta-with-icon .cti-cta-container {
    width: 100%;
    max-width: none; }
  .cta-with-icon-icon [class*="fa-"],
  .icon-title [class*="fa-"],
  p.icon-link [class*="fa-"],
  a.icon-link [class*="fa-"] {
    width: 76px;
    height: 76px;
    font-size: 34px;
    line-height: 66px; }
  .cta-with-icon-icon [class*="fa-"] {
    width: 88px;
    height: 88px;
    line-height: 78px; }
  .cta-with-icon-icon .text {
    width: 108px;
    height: 108px;
    line-height: 98px;
    font-size: 24px;
    font-weight: 600; }
  .icon-title [class*="fa-"] {
    position: absolute;
    left: -43px;
    top: -6px;
    width: 88px;
    height: 88px;
    line-height: 78px; }
  .icon-title {
    height: 80px;
    margin-left: 38px;
    width: calc(100% - 38px);
    padding-left: 56px;
    padding-right: 23px; }
  .icon-title h3 {
    padding-left: 0px; }
  .cta-with-icon .cti-cta-container-grey h3,
  .cta-with-icon .cti-cta-container h3 {
    font-size: 24px;
    color: #01243B; }
  .drawerHeader {
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0px; }
  .drawerHeader [class*="fa-"] {
    padding-right: 10px;
    line-height: 24px;
    font-size: 16px;
    color: #9DA7B2;
    cursor: pointer; }
  .drawerHeader h3 {
    font-size: 16px;
    line-height: 24px; }
  .drawerContent {
    padding-left: 41px;
    padding-right: 10px; }
  .drawerContent p {
    font-size: 16px;
    line-height: 24px; }
  .contact-infoblock {
    min-height: auto; }
  .contact-live-chat-block {
    min-height: 500px; }
  .contact-info-container {
    width: 100%;
    margin-left: 0px;
    margin-top: 50px;
    padding: 25px; }
  .contact-info-container .third {
    text-align: left; }
  .contact-info-container .third:first-of-type {
    padding-left: 0px; }
  .contact-info-container .third:first-of-type,
  .contact-info-container .third:last-of-type {
    padding-top: 0px; }
  .contact-info-container [class*="fa-"] {
    top: -44px;
    left: calc(50% - 44px); } }

@media (min-width: 320px) and (max-width: 400px) {
  .group-button:first-of-type,
  .group-button {
    margin: 0px; }
  .cta-with-icon-icon [class*="fa-"],
  .icon-title [class*="fa-"],
  p.icon-link [class*="fa-"],
  a.icon-link [class*="fa-"] {
    width: 60px;
    height: 60px;
    font-size: 25px;
    line-height: 50px; }
  .social-networks [class*="fa-"] {
    font-size: 30px; } }

.c-accordion .card {
  border: none; }
  .c-accordion .card .card-header {
    padding: 0;
    border-bottom: 4px solid #fff;
    background: none; }
    .c-accordion .card .card-header .btn {
      width: 100%;
      text-align: left;
      background: none;
      padding: 15px 25px;
      font-size: 20px;
      color: #01243b;
      border-radius: 0;
      text-decoration: none;
      border-bottom: 1px solid #9da7b2; }
      @media (min-width: 1200px) {
        .c-accordion .card .card-header .btn {
          font-size: 50px; } }
      .c-accordion .card .card-header .btn:before {
        content: "-"; }
      .c-accordion .card .card-header .btn.collapsed:before {
        content: "+"; }

.c-carousel-full-width__card {
  height: 480px;
  background-color: #21578a;
  color: #fff;
  padding: 0 5% 0 2%;
  border-right: 1px solid #fff; }

.c-carousel-full-width__copy {
  color: #fff; }

.c-carousel-icons img {
  width: auto;
  max-width: 100%; }

.c-carousel-icons__copy p {
  font-weight: 600; }

@media (max-width: 767.98px) {
  .icon-title-content-box .icon-title {
    padding-left: 20px; } }

.c-carousel-numbered-squares .square-number {
  font-size: 154px;
  line-height: 169px; }
  @media (min-width: 768px) {
    .c-carousel-numbered-squares .square-number {
      font-size: 99px;
      line-height: 115px; } }
  @media (min-width: 1200px) {
    .c-carousel-numbered-squares .square-number {
      font-size: 190px;
      line-height: 215px; } }

.c-carousel-numbered-squares .bg-dusk-blue .square-number {
  color: #1d4e7c; }

.c-carousel-numbered-squares .bg-pale-grey .square-number {
  color: #dfdfe2; }

.c-carousel-numbered-squares .bg-cool-blue .square-number {
  color: #328dc4; }

.c-carousel-timeline .line {
  width: 100%;
  border-bottom: 3px solid #000; }

.c-carousel-timeline .small-text {
  font-size: 18px;
  line-height: 24px; }

.c-carousel-videos .video {
  opacity: 0.5; }
  .c-carousel-videos .video.active {
    opacity: 1; }

.c-form .form-control {
  border-radius: 0;
  background-color: #f1f2f6;
  border: 1px solid #9da7b2;
  font-size: 13px;
  color: #21578a;
  padding: 20px 15px; }

.c-forums-impact-graphic {
  padding: 50px 50px; }
  @media (min-width: 768px) {
    .c-forums-impact-graphic {
      padding: 50px 50px; } }
  @media (min-width: 992px) {
    .c-forums-impact-graphic {
      padding: 80px 60px; } }
  .c-forums-impact-graphic h3 {
    font-weight: 400; }

.c-header-with-icon {
  margin-left: 35px; }
  @media (min-width: 1200px) {
    .c-header-with-icon {
      margin-left: 80px; } }
  .c-header-with-icon__header {
    border: 1px solid #707070; }
    .c-header-with-icon__header img {
      max-width: 68px;
      margin-left: -34px; }
      @media (min-width: 1200px) {
        .c-header-with-icon__header img {
          max-width: 160px;
          margin-left: -80px; } }
    .c-header-with-icon__header h2 {
      font-size: 24px; }
      @media (min-width: 768px) {
        .c-header-with-icon__header h2 {
          font-size: 20px; } }
      @media (min-width: 1200px) {
        .c-header-with-icon__header h2 {
          font-size: 40px; } }
    .c-header-with-icon__header h1, .c-header-with-icon__header h2, .c-header-with-icon__header h3, .c-header-with-icon__header h4, .c-header-with-icon__header h5, .c-header-with-icon__header p {
      margin-bottom: 0;
      margin-left: -34px; }
      @media (min-width: 1200px) {
        .c-header-with-icon__header h1, .c-header-with-icon__header h2, .c-header-with-icon__header h3, .c-header-with-icon__header h4, .c-header-with-icon__header h5, .c-header-with-icon__header p {
          margin-left: -80px; } }

.c-resources__list .resource .container {
  background-color: #21578a;
  width: 100%;
  height: 100%; }
  @media (min-width: 1200px) {
    .c-resources__list .resource .container {
      padding-right: 6rem !important; } }
  @media all and (max-width: 1199.98px) and (min-width: 992px) {
    .c-resources__list .resource .container {
      padding-top: 4rem !important;
      padding-bottom: 4rem !important; }
      .c-resources__list .resource .container .button {
        font-size: 18px; } }
  .c-resources__list .resource .container h3 {
    font-weight: 400; }
    @media (min-width: 1200px) {
      .c-resources__list .resource .container h3 {
        font-size: 40px;
        line-height: 50px; } }
  @media (min-width: 992px) {
    .c-resources__list .resource .container p {
      font-size: 18px;
      line-height: 24px; } }

.c-resources__list .resource:nth-child(9n-3) .container, .c-resources__list .resource:nth-child(9n-4) .container, .c-resources__list .resource:nth-child(9n-5) .container {
  background-color: #9da7b2; }

.c-resources__list .resource:nth-child(9n-0) .container, .c-resources__list .resource:nth-child(9n-1) .container, .c-resources__list .resource:nth-child(9n-2) .container {
  background-color: #3397d3; }

.c-resources-contact h3.large {
  font-size: 20px;
  line-height: 24px; }
  @media (min-width: 992px) {
    .c-resources-contact h3.large {
      font-size: 40px;
      line-height: 50px; } }

@media (min-width: 768px) {
  .c-steps-to-apply .copy {
    height: 100%; } }

.c-tabs .accordion .card {
  border: none; }
  .c-tabs .accordion .card .card-header {
    padding: 0;
    border-bottom: 4px solid #fff; }
    .c-tabs .accordion .card .card-header .btn {
      width: 100%;
      text-align: left;
      background-color: #ff970e;
      padding: 15px 25px;
      font-size: 24px;
      color: #ffffff;
      border-radius: 0;
      text-decoration: none; }
      .c-tabs .accordion .card .card-header .btn.collapsed {
        background-color: #21578a; }

.c-tabs .nav .nav-item {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; }
  .c-tabs .nav .nav-item .nav-link {
    font-size: 24px;
    line-height: 27px;
    background-color: #21578a; }
    .c-tabs .nav .nav-item .nav-link:hover {
      color: #ffffff;
      background-color: #01243b; }
    .c-tabs .nav .nav-item .nav-link.active {
      background-color: #ff970e; }
    @media (min-width: 768px) {
      .c-tabs .nav .nav-item .nav-link {
        font-size: 12px;
        line-height: 16px; } }
    @media (min-width: 992px) {
      .c-tabs .nav .nav-item .nav-link {
        font-size: 20px;
        line-height: 38px; } }
    @media (min-width: 1200px) {
      .c-tabs .nav .nav-item .nav-link {
        font-size: 28px;
        line-height: 38px; } }

@media (min-width: 768px) {
  .c-tabs.vertical-tabs .row {
    min-height: 450px; } }

@media (min-width: 1200px) {
  .c-tabs.vertical-tabs .row {
    min-height: 600px; } }

@media (min-width: 768px) {
  .c-tabs.vertical-tabs .checkbox-image h3 {
    line-height: 20px; } }

@media (min-width: 1200px) {
  .c-tabs.vertical-tabs .checkbox-image h3 {
    line-height: 40px; } }

.c-tabs.vertical-tabs .checkbox-image img {
  width: 11px; }
  @media (min-width: 1200px) {
    .c-tabs.vertical-tabs .checkbox-image img {
      width: 40px; } }

.c-tabs.vertical-tabs .nav-pills {
  height: 100%; }
  .c-tabs.vertical-tabs .nav-pills .nav-link {
    height: 25%;
    border-radius: 0;
    border-bottom: 3px solid #ffffff;
    background-color: #9da7b2; }
    .c-tabs.vertical-tabs .nav-pills .nav-link.active {
      background-color: #21578a; }
    .c-tabs.vertical-tabs .nav-pills .nav-link:last-child {
      border-bottom: none; }

.c-text-area {
  text-align: center; }
  @media (min-width: 768px) {
    .c-text-area {
      text-align: left; } }
  @media (min-width: 768px) {
    .c-text-area.padding-medium {
      padding: 0 6%; } }
  @media (min-width: 1200px) {
    .c-text-area.padding-medium {
      padding: 0 10%; } }
  @media (min-width: 768px) {
    .c-text-area.padding-large {
      padding: 0 14%; } }
  @media (min-width: 1200px) {
    .c-text-area.padding-large {
      padding: 0 20%; } }

.c-three-column-spirit__background {
  background-color: #21578a;
  padding: 0 15% 0 5%;
  width: 100%;
  height: 100%; }

.c-three-column-spirit__card {
  height: 840px;
  color: #fff; }
  @media (min-width: 768px) {
    .c-three-column-spirit__card {
      height: 840px; } }
  @media (min-width: 992px) {
    .c-three-column-spirit__card {
      height: 885px; } }
  @media (min-width: 1450px) {
    .c-three-column-spirit__card {
      max-width: 442px; } }

@media (min-width: 768px) {
  .c-three-column-spirit__card:first-child {
    padding-right: 6px; } }

@media (min-width: 1450px) {
  .c-three-column-spirit__card:first-child {
    padding: 0; } }

@media (min-width: 768px) {
  .c-three-column-spirit__card:nth-child(2) {
    padding-right: 3px;
    padding-left: 3px; } }

@media (min-width: 1450px) {
  .c-three-column-spirit__card:nth-child(2) {
    padding: 0;
    margin: 0 58px; } }

@media (min-width: 768px) {
  .c-three-column-spirit__card:last-child {
    padding-left: 6px; } }

@media (min-width: 1450px) {
  .c-three-column-spirit__card:last-child {
    padding: 0; } }

.c-three-column-spirit__copy {
  color: #fff; }

@media (min-width: 1300px) {
  nav {
    padding-bottom: 0px; } }

@media (min-width: 1300px) {
  nav .mainnavigation-container {
    padding-top: 0; } }

@media (min-width: 1300px) {
  nav .mainnavigation-container ul#menu {
    padding-top: 20px;
    padding-bottom: 20px; } }

nav .mainnavigation-container ul#menu a.topnav-link {
  padding-bottom: 0; }

nav .mainnavigation-container ul#menu .nav-dropdown-container {
  top: 108px; }

.siteSearch {
  width: auto; }

@media (min-width: 320px) and (max-width: 860px) {
  .uppernav a.topnav-button {
    padding: 0px 11px; } }

.padded-section-container .branchSearchHeader {
  padding: 40px 0 0px; }
  @media (max-width: 767.98px) {
    .padded-section-container .branchSearchHeader {
      padding: 0; } }
  @media (min-width: 1300px) {
    .padded-section-container .branchSearchHeader .inpage-Search {
      margin-top: 15px; } }

.branchSearchResults .branchPrimaryResults {
  max-width: 1400px;
  margin: auto; }
  .branchSearchResults .branchPrimaryResults .branch-select-box {
    padding: 10px;
    margin: 0;
    background-color: transparent; }
    @media (min-width: 768px) {
      .branchSearchResults .branchPrimaryResults .branch-select-box {
        width: 33.33%; } }
    .branchSearchResults .branchPrimaryResults .branch-select-box .branch-select-box__content {
      padding: 26px 27px 18px 22px;
      background-color: #f1f2f6;
      min-height: 169px; }
      @media (min-width: 768px) {
        .branchSearchResults .branchPrimaryResults .branch-select-box .branch-select-box__content {
          min-height: 232px; } }

.icon-title-content-box {
  height: 100%; }
  .icon-title-content-box .icon-title__content {
    margin-bottom: auto; }
    .icon-title-content-box .icon-title__content-bottom {
      padding-top: 15px; }

.contact-us__main .icon-title-content-box .icon-title__content a.button {
  width: 100%;
  min-width: initial; }

@media (max-width: 991.98px) {
  .contact-us__main .icon-title-content-box .icon-title__content {
    padding: 0; } }

@media (min-width: 768px) {
  .contact-us__main .icon-title-content-box .contact-infoblock, .contact-us__main .icon-title-content-box .contact-live-chat-block {
    min-height: 750px; } }

@media (min-width: 1300px) {
  .contact-us__main .icon-title-content-box .contact-infoblock, .contact-us__main .icon-title-content-box .contact-live-chat-block {
    min-height: 1020px; } }
